body{
    background-color: #30d0b8;
    font-family: Pokemon_Font;
    color: #484848;
    text-shadow: 3px 3px #a09e9eb9;
}
@font-face{
    font-family: "Pokemon_Font";
    src: url("../assets/font/pokemonFont.ttf")
}

/*------OVERWORLD FRAME-------*/
.transitionFrame{
    position: absolute;
    width: 90%;
    height: 97vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    left: 5%;
    display: none;
    opacity: 0;
}
.transitionFrame div{
    display: grid;
    height: 23.75vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.transitionFrame div span{
    height: 100%;
    width: 100%;
    background-color: black;
}

/*------FORM INPUT------------*/
.userForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    gap: 2rem;
}
.userForm p{
    font-size: 40px;
    margin: 0;
    color: rgb(251, 251, 207);
    text-shadow: 3px 3px #6c6b62b9;
    letter-spacing: 3px;
}
.userForm input{
    width: 25rem;
    height: 3rem;
    padding-inline: 1rem;
    border-radius: 25px;
    border: 5px solid #239382;
    color: white;
    text-shadow: none;
    letter-spacing: 2px;
    font-family: Pokemon_Font;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}
.userForm input:focus{
    outline: none;
    width: 28rem;
    transition: 0.25s;
}

/*------OVERWORLD SCENE-------*/
#overworld{
    opacity: 0;
    display: none;
    width: 90%;
    min-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    min-height: 90vh;
}
.map{
    position: relative;
    height:  97vh;
    width: 100%;
    overflow: hidden;
}
.map img{
    object-fit: cover;
    height: 150%;
    width: 150%;
    scale: 1.5;
}
.playerCharSprite{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.playerCharSprite img{
    object-fit: contain;
    height: 4.5rem !important;
    width: 4.5rem !important;
}
.playerCharSprite p{
    text-align: center;
    font-size: 25px;
}
/*------BATTLE SCENE-------*/
#pokeBattle{
    opacity: 0;
    position:absolute;
    left: 5%;
    z-index: 10;
    top: 0%;
    display: none;
    width: 90%;
    min-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url("../assets/images/background_battle_pokemon.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
}
.side{
    width: 100%;
    position: relative;
}
#ennemyS{
    height: 40vh;
}
#playerS{
    height: 33vh;
}

.pokemonInfo{
    position: absolute;
    top: 31%;
    display: flex;
    width: 78%;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
}

#playerS .pokemonInfo{
    top: 15%;
    left: 12%;
    right: initial;
}
.pokemonInfo p{
    margin: 0;
}

.pokInfo{
    font-size: 25px;
    font-weight: 1000;
    display: flex;
    gap: 1rem;
}

.hpHolder{
    position: absolute;
    top: 52.5%;
    left: 42%;
    width: 40%;
    height: 0.65rem;
    overflow: hidden;
}

.hpBar{
    background: linear-gradient(to bottom, rgb(10, 97, 10), rgb(18, 155, 18));
    width: 100%;
    height: 0.9rem;
    border-radius: 0 0 5px 0;
}


#playerS .hpHolder{
    top: 46.5%;
    left: 55.5%;
    height: 0.85rem;
}
.sprite{
    position: absolute;
    height: 15rem;
    width: 15rem;
    scale: 0.45;
    top: 25%;
    z-index: 3;
    right: 18%;
    left: initial;
}
.sprite img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
#playerS .sprite{
    right: initial;
    left: 30%;
    top: -5%;
    scale: 1.25;
}
#shinySparkle{
    position: absolute;
    object-fit: contain;
    right: 5%;
    filter: brightness(10);
    scale: 1.9;
    top: -5%;
    display: none;
}
.menu{
    position: absolute;
    top: 15%;
    left: 0%;
    z-index: 4;
    min-width: 20rem;
    height: 15rem;

    background-color: transparent;
}
.menu img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#playerS .menu{
    height: 12rem;
    min-width: 33rem;
    right: 0%;
    bottom: 0%;
    left: initial;
    top: initial;
}

.grass{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 40rem;
    height: 10rem;

}
#playerS .grass{
    right: initial;
    left: 15%;
    scale: 1.65;
    top: 50%;
}
.grass img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    scale: 0.9;
}


.options{
    position: relative;
    z-index: 3;
    bottom: 0%;
    height: 11rem;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    padding-inline: 5rem;
    padding-block: 0.75rem;
    backdrop-filter: blur(9px);
    border-top: 6px solid rgb(45,45,45);
}
.options p {
    width: 23rem;
    position: absolute;
    top: 10%;
    font-size: 35px;
    left: 8%;
}

.optionBtnHolder{
    position: absolute;
    right: 15%;
    height: 11rem;
    width: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:0.25rem;
    align-items: center;
    justify-content: center;
    padding: 0.25rem
}
.optionBtnHolder button{
    opacity: 1;
    width: 100%;
    height: 100%;
    font-family: pokemon_font;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 3px 2px rgb(25,25,25,0.25);
    font-size: 30px;
    border-radius: 0.5rem;
    border: 4px solid rgb(50,50,50);
    color: white;
    filter: brightness(0.9);
}
.optionBtnHolder button:hover{
    filter: brightness(1);
    transition: 0.1s;
    cursor: pointer;
    scale: 1.02;
}
.optionBtnHolder button:nth-child(1){
    background:linear-gradient(rgb(232, 105, 105), rgb(255, 40, 40));
}
.optionBtnHolder button:nth-child(2){
    background:linear-gradient(rgb(232, 217, 105), rgb(255, 191, 40));
}
.optionBtnHolder button:nth-child(3){
    background:linear-gradient(rgb(105, 232, 128), rgb(40, 255, 105));
}
.optionBtnHolder button:nth-child(4){
    background:linear-gradient(rgb(105, 141, 232), rgb(65, 40, 255));
}

.fightBtnHolder{
    display: flex;
    position: absolute;
    right: 15%;
    height: 10.5rem;
    width: 30rem;
    gap:0.25rem;
    align-items: center;
    padding: 0.25rem;
    border: 4px solid rgb(50,50,50);;
    background-color: rgb(255,255,255,0.9);
    border-radius: 7px;
    display: none;
}

.fightBtnHolder button{
    font-size: 25px;
    text-align: left;
    padding-left: 1rem;
    opacity: 1;
    width: 100%;
    height: 5rem;
    font-family: pokemon_font;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 3px 2px rgb(25,25,25,0.25);
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;

    color: rgb(112, 112, 112);
    filter: brightness(0.9);
}
.fightBtnHolder button:hover{
    filter: brightness(1);
    transition: 0.1s;
    cursor: pointer;
    color: black;
    scale: 1.02;
}
.btnHolder{
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}
.moveInformation{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    position: relative;
    border-left: 3px solid rgb(25,25,25);
    padding-left: 1rem;
}
.moveInformation p {
    margin: 0;
    font-weight: 500;
    font-size: 27px;
    position: relative;
}
#backBtn{
    padding-block: 0.5rem;
    width: 100%;
}
#backBtn:hover{
    filter: brightness(1);
    transition: 0.1s;
    cursor: pointer;
    color: black;
    scale: 1.02;
}